<h4 class="text-center">Mis publicaciones</h4>


<hr>

<div class="container">


    <div class="row">

        <div class="col-md-3 mt-3 shadow-sm bg-white">


            <div class="mt-5">

                <label for="Puesto">Nombre del Puesto</label>

                <!-- <input class="form-control" id="Puesto" type="text" placeholder="Nombre del Puesto"> -->

                <ng-autocomplete [data]="data " [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate" (selected)='selectEvent($event)'
                    (change)='buscar($event.target.value)' placeholder="Ingrese el nombre">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.nombre"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>

                <hr>

                <h6>Ordenar por</h6>

                <div class="row ">
                    <ul>
                        <li>fecha</li>
                        <li>salario</li>
                        <li>Años experiencia</li>
                    </ul>
                </div>

                <hr>



                <h6>Tipo de Contrato</h6>

                <ul>
                    <li>Fijo </li>
                    <li>Pasantía </li>
                    <li>Temporal </li>
                    <li>Proyecto </li>

                </ul>

                <h6>Empresa</h6>

                <ul *ngFor="let item of datos">
                    <li>{{item.empresa}}</li>

                </ul>

            </div>

        </div>


        <div class="col-md-8 ml-md-5 ">

            <div *ngIf="datos ; then verdadera else falsa"></div>


            <ng-template #verdadera>
                
                <div *ngFor="let item of datos | paginate: { itemsPerPage: 5, currentPage: paginaActual }; let i = index "
                    class="mt-4">

                    <hr>

                    <a [routerLink]="['/poster/publicacion/detalle', item._id]" routerLinkActive="router-link-active">

                        <div class="row">
                            <h5>{{item.nombre}}</h5>
                        </div>
                    </a>

                    <div class="row">
                        <p>{{item.empresa}}</p>
                    </div>

                    <div class="row">

                        <p>{{item.descripcion}}</p>
                    </div>

                    <div class="row mt-2">

                        <div class="col-sm-2">{{item.fecha}}</div>
                        <div class="col-sm-2">{{item.contrato}}</div>
                        <div class="col-sm-2">{{item.salario}}</div>
                        <div class="col-sm-2">{{item.jornada}}</div>


                    </div>


                </div>

            </ng-template>

            <ng-template #falsa>
    
               <h4 class="text-center ">No hay Puesto para mostrar</h4>
            
            </ng-template>

            <hr>

            <div class="row">

                <pagination-controls class="mx-auto d-block" (pageChange)="paginaActual = $event"></pagination-controls>

            </div>




        </div>
        <!-- 
        ////////////// -->

    </div>



</div>