<section class="container mb-4" style="max-width: 850px; min-width: 400px;">
  <h3 class="">Puesto de Trabajo</h3>
  <hr>
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-row align-items-center">
          <div class="col-sm sepatator">
            <label for="Company">Company:</label>
            <input type="text" class="form-control mb-2" id="Company" placeholder="Company">
          </div>
          <div class="col-sm sepatator">
            <label for="Position">Position:</label>
            <input type="text" class="form-control mb-2" id="Position" placeholder="Position">
          </div>
        </div>

        <div class="form-row align-items-center">
          <div class="col-sm sepatator">
            <label for="Category">Category:</label>
            <select id="Category" class="form-control mb-2">
              <option selected>Choose...</option>
            </select>
          </div>
          <div class="col-sm sepatator">
            <label for="Url">Url Company:</label>
            <input type="text" class="form-control mb-2" id="Url" placeholder="Url Company">
          </div>
        </div>

        <div class="form-row align-items-center">
          <div class="col-sm sepatator">
            <label for="Location">Location:</label>
            <input type="text" class="form-control mb-2" id="Location" placeholder="Location">
          </div>
          <div class="col-sm sepatator">
            <label for="Url">Logo:</label>
            <input type="file" class="form-control-file mb-2" id="Url">
          </div>
        </div>
        <div class="align-items-center">
          <div class="sepatator">
            <label for="Description">Description:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="align-items-center">
          <div class="sepatator">
            <label class="pt-0">Type:</label>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  First radio
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-transparent">
            <input type="submit" class="btn btn-outline-primary btn-block" value="Guardar">
        </div>
      </form>
    </div>
  </div>

</section>
