<section class="container">


    <div id="formulario" class="container mt-4 mx-auto d-block">

        <form (submit)="Buscar()" [formGroup]="Formbuscar">

            <div class="row ">

                <div class="  col-md-5 mt-2">

                    <input class="form-control" type="text" placeholder="Palabra clave, profesion o area"
                        formControlName="palabra">

                </div>

                <div class=" col-md-5 mt-2">

                    <select class="form-control" id="Provincia" formControlName="provincia">
                        <option value="" disabled>Seleciona una provincia...</option>
                        <option *ngFor="let item of provincias" [ngValue]='item'>{{item}}</option>
                    </select>

                </div>

                <div class="col-md-2 mt-2">

                    <button class="btn btn_negro text-white ">Buscar</button>

                </div>
            </div>

        </form>

        <div class="row mt-3">

            <button type="button" class="btn  btn_negro text-white ml-4 " data-toggle="modal"
                data-target="#exampleModal">
                Busqueda Avanzada

            </button>
        </div>

        <div class="row mt-2 ml-5">
            <p class="text-dark"> 1,433 empleos publicados en Republica Dominicana</p>
        </div>

    </div>
</section>

<!-- Cotenido del modal -->

<app-buscador></app-buscador>

<hr>

<section>

    <div class="container">

        <div class="row">

            <h4 class="mx-auto ">Empleos Recientes</h4>

        </div>
        <div>

            <p class="text-right">{{hoy | date: 'dd/mm' }}</p>

        </div>

    </div>

</section>

<section id="puesto" class="container-fluid m-5 mx-auto d-block ">

    <div class="row p-3 ">

        <div *ngFor="let item of puesto | paginate: { itemsPerPage: 12, currentPage: paginaActual }; let i = index "
            class="col-sm-6 col-md-6 col-lg-4 ">

            <div class="card m-3">

                <div class="card-body">

                    <h5 class="card-title text-center">{{item.nombre}}</h5>

                    <div class="row  m-2">

                        <p class="card-text ml-2"><b>Horario:</b> {{item.horario}} de {{item.horarioT}}</p>
                    </div>

                    <div class="row m-2">

                        <p class="card-text ml-2"><b>Nivel académico:</b> {{item.academico}}</p>

                    </div>

                    <div class="row m-2">

                        <p class="card-text ml-2"><b>Numero de vacante:</b> {{item.vacante}}</p>

                    </div>

                    <div class="row mt-3">

                        <a [routerLink]="['/puesto', item._id]" class="btn  btn_negro text-white mx-auto d-block ">Ver</a>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <pagination-controls class="ml-auto" (pageChange)="paginaActual = $event"></pagination-controls>

    </div>

</section>