<nav id="menu" class="navbar navbar-expand-lg ">

    <a class="navbar-brand text-white ml-4" [routerLink]="['./']">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span>icono</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">

            <a class=" nav-item nav-link text-white " [routerLink]="['/login']"
                routerLinkActive="router-link-active">Publicar
                Empleo</a>

            <a class=" nav-item nav-link text-white" [routerLink]="['/login']"
                routerLinkActive="router-link-active">Login </a>
        </div>
    </div>
</nav>


<section class="container">


    <div id="formulario" class="container mt-4 mx-auto d-block">

        <div class="row ">

            <div class="  col-md-5 mt-2">

                <input class="form-control" type="text">

            </div>

            <div class=" col-md-5 mt-2">

                <input class="form-control" type="text">
            </div>

            <div class="col-md-2 mt-2">

                <button class="btn btn_negro text-white ">Buscar</button>

            </div>
        </div>

        <div class="row mt-3">

            <button type="button" class="btn  btn_negro text-white ml-4 " data-toggle="modal"
                data-target="#exampleModal">
                Busqueda Avanzada

            </button>
        </div>

        <div class="row mt-2 ml-5">
            <p class="text-dark"> 1,433 empleos publicados en Republica Dominicana</p>
        </div>

    </div>
</section>


<!-- Cotenido del modal -->

<app-buscador></app-buscador>


<hr>

<section>

    <div class="container">

        <div class="row">

            <h4 class="mx-auto ">Empleos Recientes</h4>

        </div>
        <div>

            <p class="text-right">{{hoy | date: 'dd/mm' }}</p>

        </div>

    </div>

</section>

<section class="container-fluid m-5 mx-auto d-block ">

    <div id="puesto" class="row p-3 ">

        <div class="col-sm-6 col-md-6 col-lg-4 ">

            <div class="card m-3">

                <div class="card-body">

                    <h5 class="card-title">Puesto</h5>

                    <p class="card-text">Descripcion.</p>

                    <a href="#" class="btn  btn_negro text-white">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4  ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn_negro text-white">Ver</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4  ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn_negro text-white">Ver</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4  ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn_negro text-white">Ver</a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-6 col-lg-4  ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn_negro text-white">Ver</a>
                </div>
            </div>
        </div>


        <div class=" col-sm-6 col-md-6 col-lg-4  ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn_negro text-white">Ver</a>
                </div>
            </div>
        </div>

    </div>

</section>

<hr>

<div id="pies" class="jumbotron text-center text-white m-0 p-5">

    <app-footer></app-footer>
</div>