<div class="container-fluid mt-3">

    <div class="row ">
        <div class="col-sm-9 ">

            <h3 class="ml-5">Logo</h3>

        </div>

        <div class="col-sm-2 ">

            <a [routerLink]="['/login']" routerLinkActive="router-link-active">Publicar Empleo</a>

        </div>
        <div class="col-sm-1 ">

            <button class="btn btn-info btn-block btn-sm-5" [routerLink]="['/login']"
                routerLinkActive="router-link-active">Login</button>
        </div>
    </div>
</div>



<div class="container mt-4 mx-auto d-block">

    <div class="row ml-5">

        <div class="col-sm-5 mt-2"><input class="form-control" type="text"></div>
        <div class="col-sm-5 mt-2"><input class="form-control" type="text"></div>
        <div class="col-sm-2 mt-2"><button class="btn btn-info">Buscar</button></div>
    </div>

    <div class="row mt-3 ml-5">

        <button type="button" class="btn btn-outline-light text-dark" data-toggle="modal" data-target="#exampleModal">
            Busqueda Avanzada

        </button>
    </div>

    <div class="row mt-2 ml-5">
        <p class="text-black"> 1,433 empleos publicados en Republica Dominicana</p>
    </div>

</div>

<!-- Cotenido del modal -->

<app-buscador></app-buscador>


<hr class="container-fluid">

<div class="container">

    <div class="row">

        <div class="col-sm-11">
            <h4 class="text-center">Empleos Recientes</h4>
        </div>

        <div class="col-sm-1">
            <button class="btn btn-info ">Calendario</button>
        </div>

    </div>

</div>

<div class="container m-5 mx-auto d-block">


    <div class="row">
        <div class="col-sm-4 ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>


        <div class="col-sm-4 ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>


        <div class="col-sm-4 ">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Puesto</h5>
                    <p class="card-text">Descripcion.</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>


    </div>

</div>


<app-footer></app-footer>