<footer class="py-4 bg-info m-0">
    <div class="container text-white">
            <div class="row">
                <div class="col-sm">
                    <h5 class="display-5">Ayuda</h5>
                </div>
                <div class="col-sm">
                    <h5 class="display-5">Aviso Legal</h5>
                </div>
                <div class="col-sm">
                    <h5 class="display-5">Contactarnos</h5>
                </div>
                <div class="col-sm">
                    <h5 class="display-5">Conocenos</h5>
                </div>
                <div class="col-sm">
                    <h5 class="display-5">Ubicacion</h5>
                </div>
    
            </div>
        </div>
</footer>