<div class="mx-auto d-block " style="width: 80%;">


    <h4 class="text-center">Datos generales</h4>


    <h5 class="mb-4">{{datos?.nombre}}</h5>


    <h6 class="mb-3">{{datos?.empresa}}</h6>

    <p class="mb-3"> <b>Pagina web:</b>{{datos?.paginaweb}} </p>


    <p class="mb-3">{{datos?.actividad}}</p>


    <div class="mb-2"><b>Publicado haces: </b>{{datos?.fecha | amLocale:'es'  | amTimeAgo: true }}</div>


    <br>


    <hr>

    <h4 class="text-center">Datos del puesto</h4>

    <ul>

        <li class="mb-3 mt-3"> <b> Area:</b> {{datos?.area}} </li>


        <li class="mb-3"> <b> Descripcion:</b> {{datos?.descripcion}} </li>


        <li class="mb-3"> <b> Cantida de Vacantes :</b> {{datos?.vacante}} </li>


        <li class="mb-3"> <b> Requisitos:</b> {{datos?.requisito}} </li>


        <li class="mb-3"> <b> Sexo:</b> {{datos?.sexo}} </li>


        <li class="mb-3"> <b> Preferible:</b> {{datos?.edad}} </li>

        <li class="mb-3"> <b> Experiencia:</b> {{datos?.experiencia}} años </li>

    </ul>

    <div>

        <h4 class="text-center">Condiciones laborales</h4>


        <ul>
            <li class="mb-3" ><b>Contrato:</b>  {{datos?.contrato}} </li>
            <li class="mb-3" ><b>Jornada:</b>  {{datos?.jornada}} </li>
            <li class="mb-3" ><b>Modalidad:</b>  {{datos?.modalidad}} </li>
            <li class="mb-3" ><b>Horario:</b>  {{datos?.horarioT}} </li>
            <li class="mb-3" ><b>Sueldo:</b>  {{datos?.salario || '---'}} </li>
        </ul>

    </div>

    <div class="row mt-5 mb-5">

        <div class="col-sm "> 
            
            <button class="btn btn-warning float-right btn-block">Editar</button>
        
        </div>
       <div class="col-sm"> 
            
        <button class="btn btn-danger btn-block " (click)="eliminar(datos._id)" >Eliminar</button>
        
        </div>

    </div>

</div>

